<ul>
    @for(food of foods(); track food.id){
      <li>
        <p>{{food.name}}</p>
        <img src="{{food.image}}" alt="{{food.name}}">
        <button (click)="addToMenu(food)">Add food</button>
      </li>
  
    }
  </ul>
  

<!-- 
<input type="text" placeholder="Search foods" (input)="searchFoods()" [(ngModel)]="inputValue">
<br>
<button>NEW FOOD FORM</button>

<ul>
@if (filterArray.length > 0)
{  @for (food of filterArray; track food.name) {
    <h2 id="flTittle">{{food.name}}</h2>
    <img id="flImg" src="{{food.image}}" alt="{{food.name}}">
     <p id="flCalories">Calories: {{food.calories}}</p>
     <button (click)="addToMenu(food)">Add to Menu</button>

}
}

@else{
    
    
@for (food of foods; track food.name) {
    <h2 id="flTittle">{{food.name}}</h2>
    <img id="flImg" src="{{food.image}}" alt="{{food.name}}">
     <p id="flCalories">Calories: {{food.calories}}</p>
     <button (click)="addToMenu(food)">Add to Menu</button>
}

}
</ul>


 -->